name: Auto Deploy Byebill

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: NAMA-APP-AZURE-KAMU
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
          package: .
